// Capture only the source and vendored payloads needed to evaluate this pack.
pack schema-version=1 package-id="dev.aerynos.smia" {
    modules {
    }
    config-documents {
        document "malm.kdl"
    }
    dependencies {
    }
    templates {
    }
    schemas {
    }
    assets {
        asset "vendor/upstream/adw-gtk3.tar"
        asset "vendor/upstream/adw-gtk3-dark.tar"
        asset "vendor/upstream/aerynos-eldritch-icons.tar"
        asset "vendor/upstream/GreyStone.tar.gz"
    }
    components {
    }
    captures {
        include "malm.kdl"
        include "malm"
        include "gnist"
        include "vendor/upstream/adw-gtk3.tar"
        include "vendor/upstream/adw-gtk3-dark.tar"
        include "vendor/upstream/aerynos-eldritch-icons.tar"
        include "vendor/upstream/GreyStone.tar.gz"
    }
}
